<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница изменения книги</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books}" th:object="${book}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Введите название книги:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br/>
    <label for="author">Введите автора:</label>
    <input type="text" id="author" th:field="*{author}"/>
    <p style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br/>
    <label for="year">Введите год:</label>
    <input type="text" id="year" th:field="*{year}"/>
    <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <br/>
    <button type="submit">Редактировать!</button>
</form>
</body>
</html>