<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>
<p><span th:text="${people.getLNM()}"></span>, <span th:text="${people.getDateBorn()}"></span></p>
<p th:if="${people.getBookList().isEmpty()}">Человек пока не взял ни одной книги</p>
<div th:if="${!people.getBookList().isEmpty()}">
    <hr/>
    <b>Книги:</b>
</div>
<div th:if="${!people.getBookList().isEmpty()}" th:each="book : ${people.getBookList()}">
    <p style="color: red" th:if="${book.getOverdueDeliveryDate()}"><span th:text="${book.getName()}"></span>, <span th:text="${book.getAuthor()}"></span>, <span th:text="${book.getYear()}"></span></p>
    <p th:if="${!book.getOverdueDeliveryDate()}"><span th:text="${book.getName()}"></span>, <span th:text="${book.getAuthor()}"></span>, <span th:text="${book.getYear()}"></span></p>
</div>
<hr/>
<form th:action="@{/people/{id}/edit(id=${people.getId()})}">
    <button type="submit">Редактировать</button>
</form>
<form th:method="DELETE" th:action="@{/people}">
    <input type="hidden" th:value="${people.getId()}" name="id">
    <button style="margin-top: 10px" type="submit">Удалить</button>
</form>
</body>
</html>