<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница изменения человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people}" th:object="${people}">
    <input type="hidden" th:field="*{id}">
    <label for="FIO">Введите ФИО:</label>
    <input type="text" id="FIO" th:field="*{LNM}"/>
    <p style="color: red" th:if="${#fields.hasErrors('LNM')}" th:errors="*{LNM}"></p>
    <br/>
    <label for="born">Введите год рождения:</label>
    <input type="text" id="born" th:field="*{dateBorn}"/>
    <p style="color: red" th:if="${#fields.hasErrors('dateBorn')}" th:errors="*{dateBorn}"></p>
    <br/>
    <button type="submit">Редактировать!</button>
</form>
</body>
</html>